<!-- <div class="login-form" style="display:none;">
    <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
            <label class="form-label custom-control"> User Email </label>
            <input type="text" class="form-control" id="txt_UserName" name="id" formControlName="id">
            <label for="" class="text-danger" *ngIf="submitted && form.controls.id.hasError('required')">
        Please Enter UserEmail</label>
        </div>
        <div class="form-group">
            <label class="form-label custom-control"> Password </label>
            <input type="password" class="form-control" id="txt_PassWord" name="password" formControlName="password">
            <label for="" class="text-danger" *ngIf="submitted && form.controls.password.hasError('required')">
        Please Enter Password</label>
        </div>
        <div class="form-group">
            <label class="form-label custom-control"> Login As </label>
            <input type="text" class="form-control" id="txt_CompanyCode" name="companyCode" formControlName="companyCode">
        </div>
        <button type="submit" class="btn btn-link mb-3 mt-3">Sign
      in</button>
    </form>
</div> -->

<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-block">
                    <div class="brand">
                        <img src="{{siteUrl}}/assets/images/spacewood-logo.png" alt="logo" />
                    </div>
                    <h3 class="text-center txt-primary"> Sign In to your account
                    </h3>

                    <form class="my-login-validation" [formGroup]="form" (ngSubmit)="login()">


                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="hf-email">E-Mail/ User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" type="email" name="id" formControlName="id"
                                    placeholder="Enter E-Mail/ User ID..">
                                <label for="" class="text-danger"
                                    *ngIf="submitted && form.controls.id.hasError('required')">
                                    Please Enter User Email/ID</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="hf-email">Password</label>
                            <div class="col-md-8">
                                <div id="eye-password-0" style="position:relative">
                                    <input class="form-control" name="password" formControlName="password"
                                        type="password" placeholder="Enter Password..">
                                    <label for="" class="text-danger"
                                        *ngIf="submitted && form.controls.password.hasError('required')">
                                        Please Enter Password</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="hf-email">Login As</label>
                            <div class="col-md-8 custom-dropdown">
                                <select class="form-control" id="select0" name="utype" formControlName="utype">
                                    <option value="" selected>--Select--</option>
                                    <option value="employee"> Employer </option>
                                    <option value="business-partner"> Business Partner </option>
                                    <option value="admin"> Administrator </option>
                                </select>
                                <label for="" class="text-danger"
                                    *ngIf="submitted && form.controls.utype.hasError('required')">
                                    Please Select Login As</label>
                            </div>

                        </div>

                        <div class="form-group m-0">
                            <button type="submit" class="btn btn-1x fa-sign-in" id="login">
                                Login
                            </button>
                        </div>
                        <div class="mt-4 text-center">
                            Forgot Password? <a routerLink="/forgotpassword">Click Here</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="loading" *ngIf="loading"></div>

<router-outlet></router-outlet>