<div class="container-fluid content-area">
    <section class="section">
        <div class="row page-titles m-b-0">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">employees List</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">employees list</li>
                </ol>
            </div>
        </div>

        <div class="card card-body">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show"> New Employees </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/employee-user/existing-employee"> Existing Employees </a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div id="table" class="table-responsive" *ngIf="newemployees?.length!=0" style="margin-top:30px;">
                        <br>
                        <table datatable class="table table-bordered table-striped" cellspacing="0">
                            <thead>
                                <tr class="info">
                                    <th> Select </th>
                                    <th> Employee Id </th>
                                    <th> Employee Name </th>
                                    <!-- <th> Employee Email </th> -->
                                    <th> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let emp of newemployees">
                                    <td><input type="checkbox" (change)="selectionChange($event.srcElement, emp)"></td>
                                    <td> {{emp.t_emno}} </td>
                                    <td> {{emp.t_nama}} </td>
                                    <!-- <td> {{newemployees.t_nama+'@gmail.com'}} </td> -->
                                    <td> <span class="badge-dot badge-brand mr-1"></span>New
                                    </td>

                                </tr>


                            </tbody>
                        </table>

                        <div class="text-right" style="margin-top: 50px;">
                            <div class="ml-auto mb-1 mt-3 d-lg-flex d-none">
                                <button type="button" class="btn-3 btn-3a fa-arrow-right default grey" (click)="generatePassword()"> Generate
                            Password </button> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <br>
</div>

<div class="loading" *ngIf="loading"></div>