<div class="container content-area">
  <section class="section">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/business-partner/items/item-list" class="text-muted">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Total Balance </li>

    </ol>

    <div class="card mb-2 clearfix">

      <div class="card-content">
        <div class="card-body pb-5 pt-5">

          <div class="col-md-12">
            <h2 class="text-center ">Your Available Balance</h2>
          </div>


          <div class=" text-dark">
            <p class="text-center" style="font-size : 15px"><b>Amount Is : <code >{{totalbalance}}</code> </b></p>
          </div>

        </div>
      </div>

    </div>

  </section>
</div>