<div class="container-fluid content-area">
    <section class="section">


        <div class="row page-titles m-b-0">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Order Details</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Order Details</li>
                </ol>
            </div>
        </div>


        <div class="card mb-2 clearfix">
            <div class="card-header">
                <div class="float-left">
                    <span class="orderid">Order Id: {{orderid}} </span>
                </div>
                <div class="float-right">
                    <a *ngIf="placeditems?.t_orderstatus == 'saved'" (click)="placeOrder()"
                        class="btn-3 btn-3a fa-check default green"> Place Order </a>
                    <a *ngIf="placeditems?.t_orderstatus == 'saved'" (click)="deleteOrder()"
                        class="btn-3 btn-3a fa-times default grey" data-toggle="modal" data-target="#myModal"> Cancel
                        Order </a>
                    <a *ngIf="placeditems?.t_orderstatus == 'Placed' " (click)="cancelOrder()"
                        class="btn-3 btn-3a fa-times default grey" data-toggle="modal" data-target="#myModal"> Cancel
                        Order </a>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body pb-5 pt-5">



                    <div class=" text-dark">
                        <!-- <p class="mb-1 mt-3"><span class="font-weight-semibold">Invoice Date :</span> 12rd July 2018</p>
        <p><span class="font-weight-semibold">Due Date :</span> 15th July 2019</p> -->
                    </div>
                    <div id="table" class="table-editable table-responsive" *ngIf="placeditems">
                        <table class="table border table-bordered text-nowrap"
                            *ngIf="placeditems.tblswOrderItems?.length>0">
                            <thead>
                                <tr>
                                    <th class="border-0 text-uppercase  font-weight-bold">Item</th>
                                    <th class="border-0 text-uppercase font-weight-bold">Description</th>
                                    <th class="border-0 text-uppercase  font-weight-bold">Unit Cost</th>
                                    <th class="border-0 text-uppercase  font-weight-bold">Quantity</th>
                                    <th class="border-0 text-uppercase  font-weight-bold">Total</th>
                                    <th class="border-0 text-uppercase  font-weight-bold"
                                        *ngIf="placeditems.t_orderstatus == 'saved'"> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of placeditems.tblswOrderItems">
                                    <td> {{item.t_item}} </td>
                                    <td> {{item.t_dsca}} </td>
                                    <td>{{item.t_pric}}</td>
                                    <td>{{item.t_oqty}}</td>
                                    <td>{{item.total}}</td>
                                    <td class=" pt-3-half td-actions" *ngIf="placeditems.t_orderstatus == 'saved'">
                                        <span class="table-remove"> <a (click)="removeItem(item.id)"> <i
                                                    class="fa fa-close delete"></i> </a></span> </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div *ngIf="placeditems?.t_orderstatus == 'Approved'">
                <h3>Attachments
                    <button data-toggle="modal" data-target="#myModal" class="btn-3 btn-3a fa-file default grey pull-right"
                        (click)="openModal(template)">
                        Upload Document
                    </button>
                </h3>
            
                <div id="table" class="table-editable table-responsive">
                    <table class="table border table-bordered text-nowrap" *ngIf="docdetails?.length>0">
                        <thead>
                            <tr>
                                <th class="border-0 text-uppercase  font-weight-bold">#</th>
                                <th class="border-0 text-uppercase  font-weight-bold">Attachment Name</th>
                                <th class="border-0 text-uppercase font-weight-bold">Attachment Type</th>
                                <th class="border-0 text-uppercase  font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doc of docdetails;">
                                <td></td>
                                <td>{{doc.DocumentName}}</td>
                                <td>{{doc.FilePath | slice:-3}}</td>
                                <td>
                                    <a href={{serverpath+doc.FilePath}} target="_blank"><i class="fa fa-eye "></i></a>
                                    <a (click)="deleteDocument(doc.FilePath)" style="margin-left: 10px;" class="removefile"><i
                                            class="fa fa-trash  text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                <span class="float-left">
                    <span class="text-muted">Ordered On: </span>
                    <strong *ngIf="placeditems"> {{placeditems.t_time | date :'short'}}</strong>
                </span>
                <span class="float-right">
                    <span class="text-muted">Ordered Amount: </span>
                    <strong> Rs. {{orderTotal}}</strong>
                </span>
            </div>
        </div>

    </section>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Upload Document</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="uploadform" (ngSubmit)="checkvalid()">
        <div class="modal-body">

            <div class="form-column">
                <div class="form-group">
                    <label for="">Document Name<span style="color:red">*</span></label>
                    <select  id="" class="form-control" name="doctype" formControlName="doctype">
                        <option value="" selected>--Select--</option>
                        <option value="Invoice">Invoice Document</option>
                        <option value="LR">LR Document</option>
                    </select>
                    <label for="doctypeerror" class="text-danger"
                        *ngIf="submitted && uploadform.controls.doctype.hasError('required')">
                        Please Select DocumentType</label>

                </div>
                <div class="form-group">
                    <label for="">File<span style="color:red">*</span></label>
                    <input type="file" (change)="documentupload($event.target.files)" name="docfile" id="" class="form-control"
                        name="docfile" formControlName="docfile">

                    <label for="" class="text-danger"
                        *ngIf="submitted && uploadform.controls.docfile.hasError('required')">Please Upload
                        Document</label>
                    <label for="" class="text-danger" *ngIf="submitted && uploadform.get('docfile').hasError('err')">
                        Please Upload JPG or PNG or PDF Format</label>
                    <span class="text-danger" *ngIf="submitted && uploadform.get('docfile').hasError('nisF')">Uploaded
                        File Should Be Smaller Than 5 MB</span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group m-0">
                <button type="submit" class="btn-3 btn-3a fa-check default green">SUBMIT DOCUMENT</button>
            </div>
        </div>
    </form>
</ng-template>
<div class="loading" *ngIf="loading"></div>